.header__links {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0;
  padding-top: 2%;
}

@media screen and (min-width: 1280px) {
  .header__links {
    padding: 4% 1% 0 0;
  }
}

@media screen and (min-width: 700px) {
  .header__links {
    padding: 5% 1% 0 0;
  }
}

@media screen and (max-width: 450px) {
  .header__links {
    padding-top: 7%;
  }
}
