.place__image {
  width: 440px;
  height: 440px;
  margin: 7% 0;
}

@media screen and (min-width: 1280px) {
  .place__image {
    width: 470px;
    height: 470px;
  }
}

@media screen and (max-width: 950px) {
  .place__image {
    width: 340px;
    height: 340px;
  }
}

@media screen and (max-width: 450px) {
  .place__image {
    max-width: 100%;
    max-height: 100%;
    margin: 3% auto;
  }
}

@media screen and (min-width: 340px) and (max-width: 650px) {
  .place__image {
    display: flex;
    margin: 3% auto;
  }
}
