.intro__list {
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  list-style-type: none;
  max-width: 40vw;
  margin: 3% 0 0;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .intro__list {
    margin-top: 4%;
  }
}

@media screen and (max-width: 900px) {
  .intro__list {
    max-width: 80%;
    margin: 4% 2% 0;
  }
}

@media screen and (max-width: 450px) {
  .intro__list {
    max-width: 95%;
    margin: 12% 0;
  }
}
