.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  max-width: 50%;
  margin: 0;
  margin-top: 3%;
  z-index: 3;
  align-self: flex-start;
}

@media screen and (max-width: 600px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 90%;
  }
}

@media screen and (min-width: 780px) and (max-width: 1050px) {
  .cover__subtitle {
    max-width: 40%;
  }
}
