.header {
  max-width: 1184px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  padding: 3% 5%;
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 2%;
  }
}

@media screen and (min-width: 700px) {
  .header {
    padding-left: 3%;
    padding-right: 0;
  }
}

@media screen and (max-width: 450px) {
  .header {
    padding-top: 5%;
  }
}
