.header {
  max-width: 1184px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  padding: 2% 5% 4%;
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 2% 4%;
  }
}

@media screen and (min-width: 700px) and (max-width: 950px) {
  .header {
    padding-left: 3%;
    padding-right: 0;
    padding-top: 3.5%;
  }
}

@media screen and (max-width: 450px) {
  .header {
    padding-top: 5%;
  }
}
