.header {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  padding: 3% 5%;
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 2% 3.5%;
  }
}

@media screen and (min-width: 700px) {
  .header {
    padding-left: 4%;
    padding-right: 2%;
  }
}

@media screen and (max-width: 450px) {
  .header {
    padding-top: 5%;
  }
}
