.place__paragraphs {
  padding: 2% 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #fff;
  margin: 0;
  max-width: 44vw;
}

@media screen and (max-width: 900px) {
  .place__paragraphs {
    font-size: 16px;
    max-width: 90vw;
  }
}

@media screen and (max-width: 650px) {
  .place__paragraphs {
    margin: 0 5%;
    max-width: 96%;
  }
}
