.header__link {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  margin-right: 3%;
}

.header__link:hover {
  text-decoration: underline;
}

.header__link:last-child {
  margin-right: 0;
}

@media screen and (max-width: 700px) {
  .header__link {
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (min-width: 700px) {
  .header__link {
    margin-right: 5%;
  }
}

@media screen and (max-width: 450px) {
  .header__link {
    margin-right: 12%;
  }
}
