.intro__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #fff;
  margin: 4.5% 0 4%;
  max-width: 83%;
}

@media screen and (min-width: 1280px) {
  .intro__text {
    margin: 4% 1% 0 0;
  }
}

@media screen and (max-width: 900px) {
  .intro__text {
    max-width: 99%;
    margin: 5% 2% 0;
  }
}

@media screen and (max-width: 450px) {
  .intro__text {
    max-width: 97%;
    margin-top: 16%;
    margin-left: 0;
  }
}
