.intro {
  margin: 9% 5%;
  max-width: 60%;
}

@media screen and (min-width: 1280px) {
  .intro {
    margin-left: 12%;
    margin-top: 7%;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 90%;
  }
}
