.intro {
  margin: 9% 5%;
  max-width: 85%;
}

@media screen and (min-width: 1280px) {
  .intro {
    margin-left: 11.5%;
    margin-top: 7%;
    margin-bottom: 7%;
    max-width: 70%;
  }
}

@media screen and (max-width: 1000px) {
  .intro {
    max-width: 98%;
    margin: 11% 1%;
  }
}

@media screen and (max-width: 450px) {
  .intro {
    max-width: 95%;
    margin: 19% 5%;
  }
}
