.website {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 450px) {
  .website {
    max-width: 100%;
    margin: 8% 5%;
  }
}

@media screen and (min-width: 340px) and (max-width: 650px) {
  .website {
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .website {
    padding-top: 18%;
  }
}
